@import "myvariables.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "layout/header.scss";
@import "layout/footer.scss";
@import "layout/button.scss";
main{
  height: 450px;
  margin: 30px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  p,span{
    font-size: 1.5em;
  }
  a{
    width: 40%;
    margin:0 auto;
  }
  .orderId{
    font-size: 1.5em;
  }
}
