@import "myvariables.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.navbar, .description-items{
  display:flex;
}
.navbar{
  justify-content:space-between;
  height: 90px;
  font-size:1.5em;
  color: white;
  svg{
    max-width:150px;
  }
  p{
    margin-top:15px;
  }
}

h1{
  margin-top: 25px;
}
i{
  margin: 14px auto;
  &+p{
    margin: 10px 0;
    font-weight: bolder;
  }
}

main{
  margin: 50px;
  border: 2px solid $gray-600;
  .div__img{
    height:400px;
    margin: 20px auto;
    padding: 5px;
    
    .div__img5{
      border: 1px solid peachpuff;
      height: 235px;
    }
    span{
      text-transform: uppercase;
      display: block;
      margin: 10px 0;
      font-weight: bolder;
    }
  }
}
footer{
  height: 100px;
  position: relative;
}
@media screen and (max-width: 575.99px){
  .div__img div{
    height: 250px;
  }
  img{
    object-fit: cover;
    height:250px;
  }

}
@media screen and (min-width: 576px) and (max-width:768px){
  .div__img{
    min-height: 30em;
  }
}