@import "myvariables.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";


body{
  font-family: 'Raleway', sans-serif;
}

.navbar, .description-items, .list-inline, footer{
  display:flex;
}
.navbar{
  justify-content:space-between;
  height: 90px;
  font-size:1.5em;
  color: white;
  svg{
    max-width:150px;
  }
  p{
    margin-top:15px;
  }
}

h1{
  margin-top: 40px;
}
i{
  margin: 14px auto;
  &+p{
    margin: 10px 0;
    font-weight: bold;
  }
}

main{
  margin: 50px;
  border: 2px solid $gray-600;
  .div__img{
    height:400px;
    margin: 20px auto;
    padding: 5px;
    
    .div__img5{
      border: 1px solid peachpuff;
      min-height: 215px;
    }
    
  img{
    object-fit: cover;
    height:250px;
  }
    span{
      text-transform: uppercase;
      display: block;
      margin: 10px 0;
      font-weight: bold;
    }
  }
}
footer{
  height: 200px;
  padding: 20px 0;
  flex-direction: column;
  .footer__firstrow{
    justify-content:space-around;
  }
  .footer__secondrow{
    border: 1px solid white;
    width:80%;
    margin:auto;
    padding-left: 4.5%;
    .list-inline-item{
      margin:30px;
    }
  }
}
@media screen and (max-width: 575.99px){
  .div__img div{
    height: 250px;
  }
  div .div__img .div__img5{
    min-height: 250px;
  }
}
@media screen and (min-width: 992px) and (max-width:1200px){
  div .div__img .div__img5{
      min-height: 250px;
  }
}

@media screen and (min-width: 576px) and (max-width:767.99px){
  .div__img{
    min-height: 20em;
  }
}
@media screen and (max-width: 768px){
  footer{
    flex-direction: row;
    justify-content: space-around;
    height: 400px;
    .footer__firstrow, .footer__secondrow{
      flex-direction: column;
      width: 100%;
      .list-inline-item{
        margin: 20px;
      }
    }
  }
}/*---*/