footer{
  height: 200px;
  padding: 20px 0;
  flex-direction: column;
  .footer__firstrow{
    justify-content:space-around;
  }
  .footer__secondrow{
    border: 1px solid white;
    width:80%;
    margin:auto;
    padding-left: 4.5%;
    .list-inline-item{
      margin:30px;
    }
  }
}
@media screen and (max-width: 768px){
  footer{
    flex-direction: row;
    justify-content: space-around;
    height: 400px;
    .footer__firstrow, .footer__secondrow{
      flex-direction: column;
      width: 100%;
      .list-inline-item{
        margin: 20px;
      }
    }
  }
}