body{
  font-family: 'Raleway', sans-serif;
}
.navbar, .description-items, .list-inline, footer{
  display:flex;
}
.navbar{
  justify-content:space-between;
  height: 90px;
  font-size:1.5em;
  color: white;
  svg{
    max-width:150px;
  }
  a{
    margin-top:15px;
  }
}